<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Neuen Account hinzufügen</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />

    <script th:src="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js}"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css}" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

    <link rel="stylesheet" th:href="@{../custom.css}">

</head>
<body>
<div class="container d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div>
        <h2 class="text-center mb-4">Neuer Account hinzufügen</h2>
        <form th:action="@{/save}" th:object="${account}" method="post" class="w-100">
            <div class="form-group mb-3">
                <label>Name:</label>
                <input type="text" th:field="*{name}" class="form-control" />
            </div>
            <div class="form-group mb-3">
                <label>URL:</label>
                <input type="text" th:field="*{url}" class="form-control" />
            </div>
            <div class="text-center">
                <button type="submit" class="btn btn-primary">Speichern</button>
                <a th:href="@{/}" class="btn btn-secondary">Zurück</a>
            </div>
        </form>
    </div>
</div>

</body>
</html>
